.header {
    padding: 30px 0;
    color: #ffffff;
    background-color: rgb(56, 55, 55);
    width: 100%;
    text-align: center;
    border-bottom: 10px solid rgb(73, 70, 73);
    margin-bottom: 10px;
}